* {
    box-sizing:border-box;
}

div#wrapper, footer {
    margin: auto;
    width: 1000px;
    background-color:rgb(251,235,235);
    padding: 20px;
}

body {
    font-family: Arial, "sans-serif";
    line-height: 24px;

}
nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a {
    margin-right: 20px;
}
section.appel, section.visuals {
    width:50%;
    float:left;
}
section.visuals {
    text-align:right;
}
img.appel {
    width:492px;
}
img.visuals {
    width:450px;
    margin-bottom: 10px;
}
img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}
article {
    display:inline-block;
    width: 33%;
    padding-right:15px;
    vertical-align:top;
}
article:last-child {
    padding-right:0px;
}
footer {
    background-color: rgb(166,166,166);
    color: white;
}
footer a {
    color: white;
}


input[type=text]{
    position: absolute;
    left: 150px;
    width: 80px;
    margin-bottom: 5px;
}

div.checkbox input{
    position: relative ;
    left: 0px;

}
div.checkbox {
    float: right;
    position: relative;

}
div.button {
    padding-left: 320px;
    position: relative;

}

div#wrapper2, footer {
    margin: auto;
    position: relative;
    width: 800px;
    background-color: rgb(129, 149, 195);
    padding: 20px;
}
div.geslacht {
    position: relative;
    display: inline-block;
    left: 50px;
}
select{
    position: absolute;
    left: 150px;
    width: 80px;
    margin-bottom: 5px;
}
input[type=date]{
    position: absolute;
    left: 150px;
    width: 80px;
    margin-bottom: 5px;
}